.nav-p{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 100px;
    border: 1px solid black;

}

.navegacion{
    padding: 20px 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;


}

nav a{
    color:white;
    font-weight: bold;
    text-decoration: none;
    margin: 0 50px;
    font-size: 1.2rem;
}

.logo{
    color: white;
    display: flex;
    flex-direction: row;
}

.logo img{
    width: 80px;
    height: 80px;
}

@media (max-width: 500px){

    .nav-p{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        padding:0;
        margin: 0%; 
        font-size: 60%;
    }

    .navegacion {
        display: grid;
        grid-template-columns: 1fr ;
        padding: 0%;
    }

    .navegacion nav {
        display: grid;
        grid-template-columns: 1fr 1fr  ;
        row-gap: 15px;
        padding:0;
    }

    nav a{
    color:white;
    font-weight: bold;
    text-decoration: none;
    margin: 0 5px;
}
    .logo{
    color: white;
    display: flex;
    flex-direction: column;

}
    .logo img, .logo h1 {
    width: 60%;
    
}


}