
.footer {
    background-color: #24231d;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 30px;
}

.term{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.linea{
  width: 1px;
  height: 20px;
  background-color: gray;
}

.term h4:hover, .dere:hover {
    color: #4CAF50;
    cursor: pointer;
}

@media (max-width: 500px){
    .footer{
        padding: 5px 10px;
    }

    .term{
        gap: 10px;
    }

    .dere, .term h4{
        font-size: 12px;
    }
}